<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台管理</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <table class="table" style="width: 600px; margin: 100px auto;">
        <thead>
            <tr>
                <th scope="col">姓名</th>
                <th scope="col">國文</th>
                <th scope="col">數學</th>
                <th scope="col">英文</th>
                <th scope="col">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>高瑋宏</th>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td></td>
            </tr>
            {% for stu in students %}
            <tr>
                <th>{{ stu.name }}</th>
                <td>{{ stu.Chinese }}</td>
                <td>{{ stu.Math }}</td>
                <td>{{ stu.English }}</td>
                <td>
                    <a href="/delete?name={{ stu.name }}">刪除</a>
                    <a href="/change?name={{ stu.name }}">修改</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container" style="width:600px;margin: 10px auto">
        <div class="row">
            <div class="col">
                <a href="/add">新增學員訊息</a>
            </div>
        </div>
    </div>
</body>
</html>
