<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增數據</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <form style="width: 400px; margin: 100px auto;" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">用戶名</label>
            <input type="text" class="form-control" id="username" name="username"
            value="{{ students.name }}">
        </div>
        <div class="mb-3">
            <label for="math" class="form-label">中文</label>
            <input type="text" class="form-control" id="Chinese" name="Chinese"
            value="{{ students.Chinese }}">>
        </div>
        <div class="mb-3">
            <label for="Math" class="form-label">數學</label>
            <input type="text" class="form-control" id="Math" name="Math"
            value="{{ students.Math }}">>
        </div>
        <div class="mb-3">
            <label for="English" class="form-label">英文</label>
            <input type="text" class="form-control" id="English" name="English"
            value="{{ students.English }}">>
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
</body>
</html>
