<html long="en">
    <head>
        <meta charset="UTF-8">
        <title>登錄</title>
    </head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <body>
      <form style="width: 400px;margin: 100px auto">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">用戶名</label>
          <input type="text" 
          class="form-control" 
          id="exampleInputEmail1" 
          aria-describedby="emailHelp"
          name="username">
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">密碼</label>
          <input type="password" 
                 class="form-control" 
                 id="exampleInputPassword1"
                 name="password">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">記住我</label>
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
      </form>
    </body>
</html>